:root {
    --font-mono: Roboto Mono Medium, monospace;
    --font-san-serif: Roboto, sans-serif;
    --black: #000;
    --white: #fff;
    --gray: #8b8b8b;
    --pale-yellow: #fffab4;
    --light-red: #ff7373;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/*Typogrophy*/  
body {
    font-family: var(--font-mono);
    color: var(--black);
    font-size: x-small;
    line-height: 1rem;
}  

img {
    display: block;
}

/*components*/
.component__code {
    border: 1px solid var(--gray);
}

.component img {
    max-width: initial;
}

.component__img {
    border: 1px solid var(--gray);
    overflow-x: auto;
}

.component-h2 {
    font-family: var(--font-mono);
    font-size: 16px;
    font-weight: 200;
    color: #000;
}

.component-h2__white {
    font-family: var(--font-mono);
    font-size: 16px;
    font-weight: 200;
    color: var(--white);
    background-color: rebeccapurple;
    width: 200px;
    padding: 10px 10px;
}