<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components | Love Injection</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans&family=Roboto+Mono:wght@100&family=Roboto+Slab:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/normalize.css"/>
    <link rel="stylesheet" href="../CSS/main.css"/>
</head>
<body>
    <h1>Web Components</h1>
    <p>
        This is a collection of components based on my study of the design system of Love Injection Fanzine & Records website.
    </p>
    <h2>Typography</h2>

    <article class="component">
        <h3 class="component__name">Body</h3>
        <div class="component__img">
        <img 
        srcset="img/section-scrollbar.png 2x" 
        src="img/section-scrollbar.png" alt="body copy">
        </div>
        <div class="component__code">
        <p>
            Love Injection is a monthly print-first music fanzine established in February 2015 by Barbie Bertisch & Paul Raffaele in Brooklyn, New York, with a record label launched in 2020.
            Love Injection is a monthly print-first music fanzine established in February 2015 by Barbie Bertisch & Paul Raffaele in Brooklyn, New York, with a record label launched in 2020.
        </p>
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">Headers (h2, h3 ...)</h3>
        <div class="component__img">
        <img 
        srcset="img/h2__black.png 2x" 
        src="img/h2__black.png" alt="body copy">
        <img 
        srcset="img/h2__white.png 2x" 
        src="img/h2__white.png" alt="body copy">
        </div>
        <div class="component__code">
        <p class="component-header__blk">Love Injection</p>
        <p class="component-header__white">Love Injection Issue 66</p>
        </div>
    </article> 

    <h2>Page Header</h2>
    <article class="component">
        <h3 class="component__name">.main-nav__wordmark</h3>
        <div class="component__img">
        <img 
        srcset="img/page-header.png 2x" 
        src="img/page-header.png" alt="body copy">
        </div>
        <div class="component__code">
        <h1 class="wordmark">LOVE INJECTION FANZINE & RECORDS</h1>
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">.main-nav</h3>
        <div class="component__img">
        <img 
        srcset="img/main-nav.png 2x" 
        src="img/main-nav.png" alt="body copy">
        </div>
        <div class="component__code-main-nav">
        <ul class="main-nav__list">
            <li><a href="#!">Index . . . [/]</a></li>
            <li><a href="#!">Love Injection</a></li>
            <li><a href="#!">Cart(0)</a></li>
        </ul>
        </div>
    </article>

    <h2>Cover Section</h2>
    <article class="component">
        <h3 class="component__name">.section-cover</h3>
        <div class="component__img">
        <img 
        srcset="img/section-cover.png 2x" 
        src="img/section-cover.png" alt="body copy">
        </div>
        <div class="component__code">
        
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">.section-cover__text</h3>
        <div class="component__img">
        <img 
        srcset="img/hero-image__title.png 2x" 
        src="img/hero-image__title.png" alt="body copy">
        </div>
        <div class="component__code">
        
        </div>
    </article>
    
    <h2>Merch Section</h2>
    <article class="component">
        <h3 class="component__name">.section-merch</h3>
        <div class="component__img">
        <img 
        srcset="img/merch-item.png 2x" 
        src="img/merch-item.png" alt="merch section">
        </div>

        <div class="component__code">
            <div class="section-merch">
                <div class="merch-item">
                    <img class="merch-item__img"
                    srcset="img/merch-item__image.png 2x"
                    src="img/merch-item__image.png" alt="merch item">
                    <div class="merch-details">
                        <p class="merch-item__title">Universal Love Hi-Vis Hoodie (Neon Yellow)</p>
                        <p class="merch-item__price">$75</p>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">.section-merch__title</h3>
        <div class="component__img">
        <img 
        srcset="img/merch-item__title.png 2x" 
        src="img/merch-item__title.png" alt="merch title">
        </div>
        <p class="merch-item__title">Universal Love Tote Bag</p>
        <div class="component__code">
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">.section-merch__price</h3>
        <div class="component__img">
        <img 
        srcset="img/merch-item__price.png 2x" 
        src="img/merch-item__price.png" alt="merch price">
        </div>
        
        <div class="component__code">
        <p class="merch-item__price">$18</p>
        </div>
    </article>

    <h2>Filter Toggle List</h2>
    <article class="component">
        <h3 class="component__name">.filter-toggle__list</h3>
        <div class="component__img">
        <img 
        srcset="img/view-toggle.png 2x" 
        src="img/view-toggle.png" alt="view toggle">
        </div>
        <ul class="filter-toggle">
            <li class="filter-toggle__title">Filter by:</li>
            <li class="filter-toggle__item"><a href="#!">Everything</a></li>
            <li class="filter-toggle__item"><a href="#!">Zines</a></li>
            <li class="filter-toggle__item"><a href="#!">Records</a></li>
            <li class="filter-toggle__item"><a href="#!">Merch</a></li>
        </ul>
        <div class="component__code">
        
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">.filter-toggle__active</h3>
        <div class="component__img">
        <img 
        srcset="img/filter-toggle__active.png 2x" 
        src="img/filter-toggle__active.png" alt="merch section">
        </div>

        <div class="component__code">
            <p class="filter-toggle__active">Everything</p>
        </div>
    </article>

</body>
</html>